.login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login>input{
    padding: 0.1rem 1rem;
    font-size: 14px;
}

.login-btn{
    background-color: rgb(2, 112, 255);
    padding: 0.5rem 6rem;
    color: white;
    border: none;
    border-radius: 5px;
}

label > input {
  margin: 1rem;
}